@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body,
html {
  margin: 0;
  padding: 0;
  height: 100%; /* Устанавливаем высоту на 100% для корректного отображения */
  overflow: hidden; /* Убираем прокрутку */
}

#root,
.root {
  height: 100%; /* Устанавливаем высоту на 100% */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hwb(214.12deg 0% 70.76%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  max-width: 430px;
  max-height: 932px;
  background: var(
    --Radial,
    radial-gradient(116.44% 38.73% at 50% 41.26%, #4a0150 0%, #010135 100%)
  );
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Распределение контента */
  height: 100%; /* Растягиваем на всю высоту родителя */
  width: 100%;
  align-items: stretch;
  position: relative;
  overflow: hidden; /* Скрываем части изображения, выходящие за границы */
  /* Остальные стили для .main */
}

.main__img {
  position: absolute; /* Абсолютное позиционирование для изображения */
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  height: auto; /* Высота автоматически регулируется */
  z-index: 0;
  margin-top: 80px;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.main__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 48px 60px 48px;
  align-items: stretch;
  z-index: 1;
}

.main__header {
  margin: 0;
  color: #fff7d4;
  text-shadow: 4px 11px 0px #001643;
  font-family: "RF Krabuler";
  /* font-size: 150px; */
  font-size: 1000%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  /* margin-top: 55px; */
  z-index: 1;
}

.button {
  box-shadow: 0px 1.765px 0px 0px #fffeed inset, 1.765px 5.295px 0px 0px #001643;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
  background-color: #fffeed; /* Цвет фона при наведении */
  /* color: #001643; Цвет текста при наведении */
  cursor: pointer;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  transform: scale(
    1.05
  ); /* Немного увеличиваем кнопку */ /* Увеличенная тень при наведении */
  box-shadow: 0px 1.765px 0px 0px #fffeed inset, 1.765px 5.295px 0px 0px #001643;

  transition: all 0.3s ease;
}

.button:active {
  background-color: #e0e0e0; /* Затемняем фон */
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5) inset; /* Углубленная и более темная тень */
  transform: translateY(2px); /* Небольшое смещение кнопки вниз */
}

.button__big {
  /* width: 335px; */
  height: 71px;
  flex-shrink: 0;
  border-radius: 41.48px;
  margin-top: 50px;

  flex-shrink: 0;
  color: #feffed;
  text-align: center;
  text-shadow: 0.883px 1.765px 0px rgba(0, 0, 0, 0.5);
  font-family: Ramona;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 100% */
  letter-spacing: 0.35px;
  text-transform: uppercase;
}
.button__colour_purple {
  background: linear-gradient(49deg, #045ed6 43.82%, #f36ef5 84.05%);
}

.button__colour_green {
  background: linear-gradient(0deg, #0ccdc1 28.5%, #2bb3ff 100%);
}

.button__colour_yellow {
  background: linear-gradient(180deg, #ffc15f 42.87%, #f96880 100%);
}

.brd1 * {
  outline: red solid 1px;
}

@media screen and (max-width: 375px) {
  .main__img {
    display: none;
  }

  .main__header {
    margin-top: 20px;
    font-size: 100px;
  }

  .button__big {
    margin-top: 10px;
    font-size: 30px;
  }

  .main__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 24px 40px 24px;
    align-items: stretch;
    z-index: 1;
  }
}
